.navbar {
  background: red;
}
#bt {
  margin-bottom: 10px;
  margin-left: 15px;
}
p {
  font-family: Lato;
}
.center {
  margin: 0 3%;
}
.addBtn {
  margin-bottom: 15px;
}
.data {
  display: block;
  width: 85vw;
  /* // overflow: auto; */
}

.table {
  /* width: 100vw; */
  max-width: 100%;
  overflow: auto;
  margin-bottom: 10px;
  display: table;
  border-collapse: collapse;
  margin: 0px;
  background-color: rgb(238, 238, 238);
}

.row,
.header-row {
  display: table-row;
  min-height: 36px !important;
}

.cell,
.header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 5px;
  line-break: unset;
  width: fit-content;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
}

.header-row,
.header-cell {
  margin: 0 auto;
  min-height: 100px !important;
  text-align: left;
  vertical-align: middle;
  align-self: left;
}

.sort-header {
  display: flex;
  align-content: left;
  text-align: left;
  justify-content: left;
  font-size: 12pt;
}

.header-row input {
  background-color: white;
}

.mat-card {
  min-width: max-content;
  max-width: max-content;
}

.mat-card {
  min-width: 100% !important;
  max-width: 100% !important;
}

.table {
  display: block !important;
}
